/.pytest_cache/
/venv/
/.env
/allure-report/
/junit/
/.coverage
/.idea/data-platform-post-deployment-validations.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/test_api.py
/.idea/vcs.xml
/allure-results/
/schema_types.py
/generated_schema_types.py
/myenv/
/.idea/workspace.xml
/data/dataset_replication_coa_replication/coa_upload_new_codes.csv
/.idea/csv-editor.xml
/.ipynb_checkpoints/
/htmlcov/
